<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Homepage : Todo App</title>
</head>
<body>
	<div class="container">
		<form class="mt-4" id='form'>
			<div class="form-group">
				<input class="form-control mb-2" placeholder="Add new Todos" id="todo_item" autocomplete="off" />
				<button class="btn btn-block btn-primary">Submit</button>
			</div>

		</form>

		<div class="list-group" id="todos">
		  {% for item in data %}
		  	<a href="javascript:;" class="list-group-item list-group-item-action">

			  <span class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" data-id="{{item.id}}" id="todo_{{loop.index}}" {% if item.completed %} checked {% endif %}>
				  <label class="custom-control-label" for="todo_{{loop.index}}">{{ item.description }}</label>
			  </span>
			</a>
		  {% endfor %}
		</div>
	</div>

<script type="text/javascript">
	const checkboxes = document.querySelectorAll('.custom-control-input');
	for(let i = 0; i < checkboxes.length; i++){
		const checkbox = checkboxes[i];
		checkbox.onchange = function(e){
		    
			const completed_state = e.target.checked;
		    const data_id = e.target.attributes['data-id'].value;
            $.ajax({
                url: `/todos/update/${data_id}`,
                method: 'POST',
                data: {current_state:completed_state},
                success: function (data){
                    if (data !== 'ok') alert(`Something wrong! ${data}`)
                },error: function (err) {
                    console.log('Error Message', err);
                }
            })
		}
	}

</script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>